---
import { fetchContent } from '../../utils/fetchContent';
const contentMap = await fetchContent('ImageGallary');
---
<div class="columns-1 sm:columns-2 lg:columns-3 gap-5">
            <div class="filter-item relative mb-5 break-inside-avoid shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000" data-filter="commercial">
              <img class="w-full h-auto" src="https://pagedone.io/asset/uploads/1688031162.jpg" alt="Commercial Project">
            </div>
            <div class="filter-item relative mb-5 break-inside-avoid shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100" data-filter="residential">
              <img class="w-full h-auto" src="https://pagedone.io/asset/uploads/1688031232.jpg" alt="Residential Project">
            </div>
            <div class="filter-item relative mb-5 break-inside-avoid shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1200" data-filter="industrial">
              <img class="w-full h-auto" src="https://pagedone.io/asset/uploads/1688031357.jpg" alt="Industrial Project">
            </div>
            <div class="filter-item relative mb-5 break-inside-avoid shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1300" data-filter="infrastructure">
              <img class="w-full h-auto" src="https://pagedone.io/asset/uploads/1688031375.jpg" alt="Infrastructure Project">
            </div>
            <div class="filter-item relative mb-5 break-inside-avoid shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1400" data-filter="agricultural">
              <img class="w-full h-auto" src="https://pagedone.io/asset/uploads/1688031396.jpg" alt="Agricultural Project">
            </div>
            <div class="filter-item relative mb-5 break-inside-avoid shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1500" data-filter="public-works">
              <img class="w-full h-auto" src="https://pagedone.io/asset/uploads/1688031414.png" alt="Public Works Project">
            </div>
          </div>
        
      

      <section class="w-full relative overflow-hidden">
        <img alt="Thinner image spanning the width of the screen" class="w-full h-32 object-cover transition-transform duration-500 ease-in-out" src="./wide-bg.webp" onscroll="this.style.transform='scale(1.05)';">
      </section>