---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import CTASection from '~/components/main/CTA.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1688307193832-a6f711942705?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0OTQyMTV8MHwxfHNlYXJjaHwyfHxtaWNoaWdhbiUyMGhvbWV8ZW58MHx8fHwxNzMyMDM3OTI2fDA&ixlib=rb-4.0.3&q=80&w=400',
      alt: '',
    }}
  >
    <Fragment slot="title">
      Discover the Strength and Beauty of <br />
      <span class="text-accent text-red-800 highlight"> All American Concrete</span>
    </Fragment>

    <Fragment slot="subtitle">
    All American Concrete, based in Michigan, is a leader in providing high-quality concrete solutions. Our team is dedicated to delivering innovative and sustainable concrete services for both residential and commercial projects. With a commitment to excellence and integrity, we ensure that every project meets the highest standards of durability, aesthetics, and environmental responsibility.
    </Fragment>
  </Hero>

  <CTASection />
  <!-- Stats Widget ****************** -->


  <!-- Features3 Widget ************** -->

 
 
</Layout>
