---
import CTA from '~/components/main/CTA.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Navbar from '~/components/main/Navbar.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="All American Concrete:<br> Making Your Concrete Dream a Reality"
    subtitle="Explore our expertly crafted concrete solutions tailored for diverse applications across Michigan. From residential driveways to commercial foundations, we provide the quality, reliability, and expertise needed to make your concrete projects a reality."
    actions={[{ variant: 'primary', target: '_blank', text: 'Call Us Today', href: 'tel:+19517900372' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1702359562653-14a321274d47?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'All American Concrete Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->


  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Durable Concrete Solutions',
        description:
          'Our concrete services ensure long-lasting and robust structures, perfect for any project in Michigan.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customizable Options',
        description:
          'Adapt our concrete solutions to meet your specific needs with a range of finishes and styles.',
        icon: 'tabler:settings',
      },
      {
        title: 'Expert Installation',
        description:
          'Benefit from our professional installation services, ensuring your concrete is laid perfectly every time.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Quality Assurance',
        description:
          'We provide thorough quality checks and mockup views to ensure your project meets the highest standards.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1690719744562-249937b9c03a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Concrete Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Time Efficiency',
        description:
          'Our streamlined processes ensure quick and efficient project completion, saving you time and hassle.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Finish',
        description:
          'Achieve a polished and professional look with our expertly applied concrete finishes.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Effective Solutions',
        description:
          'Enjoy competitive pricing on high-quality concrete services, providing excellent value for your investment.',
        icon: 'tabler:coin',
      },
      {
        title: 'Immediate Service',
        description:
          'Get started on your project right away with our prompt and reliable service.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1694521787673-28cbd8830ea5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Concrete Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>


  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/',
      },
    ]}
    title="Explore Our Concrete Services"
    subtitle="Whether it's residential or commercial, All American Concrete in Michigan is your trusted partner for quality concrete solutions."
  /> -->
  <CTA />
</Layout>
